<div class="dashboard-container">
  <div class="header">
    <div class="header-title">
      <i class="fa-solid fa-calendar-days"></i>
      <h1>لوحة المواعيد</h1>
    </div>

    <div class="stats">
      <div class="stat-card">
        <div class="number">{{ getAppointmentsStats().available }}</div>
        <div class="label">إجمالي المواعيد المتاحة</div>
      </div>
      <div class="stat-card">
        <div class="number">{{ getAppointmentsStats().booked }}</div>
        <div class="label">إجمالي المواعيد المحجوزة</div>
      </div>
    </div>

    <div class="stats">
      <div class="stat-card">
        <div class="month-filter">
          <span class="label">اختر الشهر:</span>
          <input
            type="month"
            [value]="selectedMonth()"
            (change)="onMonthChange($event)"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="search">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input
      type="search"
      name="searchAppointment"
      [(ngModel)]="searchAppointment"
      placeholder="ابحث عن طبيب..."
    />
  </div>

  <div class="doctors-grid">
    @for (doctor of filteredAppointments() | search : searchAppointment ; track
    doctor.firstName) {
    <div class="doctor-card">
      <h2 class="doctor-name">{{ doctor.firstName }} {{ doctor.lastName }}</h2>

      <div class="times-container">
        @for (time of doctor.times ; track time.time) {
        <div
          class="time-box"
          [class.booked]="time.status === 'booked'"
          [class.available]="time.status !== 'booked'"
        >
          <span class="time">{{ time.time }}</span>
          <span class="status"
            >{{ time.status === 'booked' ? 'محجوز' : 'متاح' }}</span
          >
          <span class="price">{{ time.price }} {{ time.coinType }}</span>
        </div>
        }
      </div>
    </div>
    }
  </div>
</div>
